/* This is a CSS comment.*/

body{
    background-color: #EEEEEE;
    font-family: arial, sans-serif;
    margin: 0;
    }

.header{ /* logo container, search container, profile container*/
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid lightgray;
}

.logo-container{ /* menu lines image, logo image, logo language*/
    width: 230px;
    height: 100%;
    float: left;
}

.menu-lines{
    background-image: url('images/youtube_icon.webp');
    width: 16px;
    height: 16px;
    margin-top: 17px;
    float: left;
    margin-left: 34px;
    background-position: -423px -231px;
}

.header:hover .menu-lines{
    opacity: 0.5;
}

.logo{ 
    width: 100px;
    height: 100%;
    background-image: url("images/yt-logo.png");
    background-size: 109%;
    margin-left: 50px;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: -8px;
    background-position-x: -4px;
    opacity: 0.8;
}

.logo-lang{ /*HR*/
    width: 15px;
    height: 15px;
    float: left;
    position: absolute;
    right: -3px;
    font-size: 10px;
    top: 10px;
}

.search-container{ /* search box, search image keyboard, magnifier box*/
    width: 45%;
    height: 100%;
    float: left;
}

.search-box{
    float: left;
    width: 70.5%;
    height: 27px;
    margin-top: 10px;
    border: 1px solid #CEC7C7;
    padding-left: 5px;
    line-height: 30px;
    color: gray;
    position: relative; /*to .search_img*/
}

.search-img{ /*keyboard image*/
    width: 20px;
    height: 18px;
    position: absolute; /*to .search-box*/
    background-image: url("images/keyboard.png");
    background-size: 20px;
    background-repeat: no-repeat;
    top: 3px;
    right: 6px;
    opacity: 0.5;
}

.magnifier-box{ /*magnifier image*/
    float: left;
    width: 8%;
    height: 27px;
    margin-top: 10px;
    border: 1px solid #CEC7C7;
    border-left: 0.5px;
    background-image: url("images/magnifier.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 7px;
    background-color: #F9F9F9;
 }

.profile-container{ /* upload element, alert image, avatar image */
    width: 10.5%;
    height: 100%;
    float: right;
}

.upload-button{
    float: left;
    width: 52px;
    height: 26px;
    margin-top: 10px;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #F9F9F9;
    line-height: 27px;
    color: #333;
    font-size: 10.5px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid #CEC7C7;
    border-radius: 2px;
}

.upload-button:hover, 
.magnifier-box:hover{
    border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
 }

.alert{
    width: 25px;
    height: 34px;
    float: left;
    margin: 12px;
    margin-left: 24px;
    margin-right: 24px;
    background-image: url(images/bell.png);
    background-size: 25px;
    background-repeat: no-repeat;
}

.avatar{
    width: 26px;
    height: 26px;
    float: left;
    margin-top: 11px;
    background-image: url(images/avatar.jpeg);
    background-size: 28px;
    background-repeat: no-repeat;
    background-color: gray;
    border-radius: 50%;
}

.page-container{ /*left container i right container*/
    width: 100%;
    height: 100vh;
}

.left-container{ /*containes main element sidebar-content*/
    width: 230px;
    height: 100%;
    float: left;
    background-color: white;
    overflow-y: scroll;
}

.sidebar-content{ /*are 3 same elements .sidebar-sections aka home section, library section and subscriptions section*/
    width: 186px;
    margin: 22px;
    margin-top: 13px;
}

.sidebar-section{ /*regulates left side of page in 3 sections - 1st part home-watch later section, 2nd part is library section and 3rd part is subscriptions section*/
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-title{ /*regulates 2 individual elements - library and subscriptions*/
    width: 90px;
    line-height: 11px;
    font-size: 11px;
    color: #DC0C13;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.sidebar-title:hover{
    text-decoration: underline;
}

.item-container{ /*regulates 21 item of the left side page aka home, my channel, trending, subsriptions (in firs section of sidebar-content/sidebara-section, history, watch later, kafane, folk, strano, show more, lapsusbandofficial, david chen, etc)*/
    /*containes item-icon and item-text for each item*/
    width: 186px;
    height: 28px;
}

.item-container:hover{ /*regulates effect of 21 item of the left side page aka home, my channel, trending, subsriptions (in firs section of sidebar-content/sidebara-section, history, watch later, kafane, folk, strano, show more, lapsusbandofficial, david chen, etc)*/
    background-color: #222;
    color: white;
}

.item-icon{ /*containes image icon connected to the item-text*/
    background-image: url('images/youtube_icon.webp'); /*this image containes all icons used on this page*/
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

.item-text{ /*define text of 21 individual item of the left side page*/
    width: 146px;
    line-height: 28px;
    float: left;
    font-size: 13px;
    font-weight: 500;
}

.home-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -419px -279px;
}

.selected .home-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -460px -96px;  
}

.selected, 
.selected:hover{ /*class related to the 1st item-container at left side of the page, that containes home icon and home text*/
    background-color: #cc181e;
}

.selected .item-text{ /*class related to the 1st item-container at left side of the page, that containes home icon and home text*/
    color: white;
}

.channel-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -652px -306px;
}

.item-container:hover .channel-icon{ /*regulates effect of my channel item of the left side page*/
    background-position: -722px 0;
}

.trending-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -674px 0;
}

.item-container:hover .trending-icon{ /*regulates effect of trending item of the left side page*/
    background-position: -531px -233px;
}

.subscriptions-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -674px -65px;
}

.item-container:hover .subscriptions-icon{ /*regulates effect of subscriptions item of the left side page*/
    background-position: -243px 0;
}

.history-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -154px -67px;
}

.item-container:hover .history-icon{ /*regulates effect of history item of the left side page*/
    background-position: -168px -279px;
}

.watchlater-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -507px -233px;
}

.item-container:hover .watchlater-icon{ /*regulates effect of watch later item of the left side page*/
    background-position: -628px -306px;
}

.menu-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -288px -110px;
}

.item-container:hover .menu-icon { /*regulates effect of menu icon itemm of the left side page*/
    background-position: -731px -201px;
}

.invisible-icon{ /*is placeholder element connected to the 'show more' .item-text in the sidebar-section in the middle of left container*/
    background: transparent;    
}

.placeholder-img{ /*regulates images connected to the elements on the left side of the page in sidebar sections which starts with side title SUBSCRIPTIONS*/
    background: gray;
}

.item-container:hover .placeholder-img{ /*regulates effect of item at the left side page in sidebar sections which starts with side title SUBSCRIPTIONS*/
    background-color: white;
}

.right-container{
    width: 87%;
    height: 100%;
    float: right;
    background-color: gray;
}

.site-menu{

}

.main-content{

}

















