/* This is a CSS comment.*/

body{
    background-color: #EEEEEE;
    font-family: arial, sans-serif;
    margin: 0;
    }

.header{ /* logo container, search container, profile container*/
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
}

.logo-container{ /* menu lines image, logo image, logo language*/
    width: 230px;
    height: 100%;
    float: left;
}

.menu-lines{
    background-image: url('images/youtube_icon.png');
    width: 16px;
    height: 16px;
    margin-top: 17px;
    float: left;
    margin-left: 34px;
    background-position: -423px -231px;
}

.header:hover .menu-lines{ /*action displayed on menu-lines when header is hovered*/
    opacity: 0.5;
}

.logo{ 
    width: 100px;
    height: 50px;
    background-image: url("images/yt-logo.png");
    background-size: 109%;
    margin-left: 50px;
    background-repeat: no-repeat;
    position: relative;
    background-position: -4px -8px;
    opacity: 0.8;
}

.logo-lang{ /*HR aka regulated language of the current state*/
    width: 15px;
    height: 15px;
    float: left;
    position: absolute;
    right: -3px;
    font-size: 10px;
    top: 10px;
}

.search-container{ /* search box, search image keyboard, magnifier box*/
    width: 45%;
    height: 100%;
    float: left;
    padding-left: 4px;
}

.search-box{
    float: left;
    width: 70.5%;
    height: 25px;
    margin-top: 10px;
    border: 1px solid #CEC7C7;
    padding-left: 5px;
    /* line-height: 10px; */
    color: #666;
    position: relative;
    font-size: 16px; /*to .search_img*/
}

.search-box:focus{
    outline: none;
    border-color: #041b80;
    box-shadow: 0px 1px 5px 0px rgb(189, 182, 183) inset;
}

/*.search-img{ /*keyboard image
    width: 20px;
    height: 18px;
    position: absolute;
    background-image: url("images/keyboard.png");
    background-size: 20px;
    background-repeat: no-repeat;
    top: 3px;
    right: 6px;
    opacity: 0.5;
}*/

.magnifier-box{ /*magnifier image*/
    float: left;
    width: 38px;
    height: 21px;
    margin-top: 10px;
    border: 1px solid #CEC7C7;
    border-left: 0.5px;
    background-color: #F9F9F9;
    padding-left: 19px;
    padding-top: 6px;
 }

 .magnifier-img{ /*magnifier image*/
    width: 18px;
    height: 16px;
    background-image: url("images/youtube_icon.png");
    background-repeat: no-repeat;
    background-position: -340px -209px;
    opacity: 0.6;
 }

.profile-container{ /* upload element, alert image, avatar image */
    width: 10.5%;
    height: 100%;
    float: right;
}

.upload-button{
    float: left;
    width: 52px;
    height: 26px;
    margin-top: 10px;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #F9F9F9;
    line-height: 27px;
    color: #333;
    font-size: 10.5px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid #CEC7C7;
    border-radius: 2px;
}

.upload-button:hover, 
.magnifier-box:hover{
    border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
 }

.alert{
    width: 25px;
    height: 34px;
    float: left;
    margin: 12px;
    margin-left: 24px;
    margin-right: 24px;
    background-image: url(images/bell.png);
    background-size: 25px;
    background-repeat: no-repeat;
}

.avatar{
    width: 26px;
    height: 26px;
    float: left;
    margin-top: 11px;
    background-image: url(images/avatar.jpeg);
    background-size: 28px;
    background-repeat: no-repeat;
    background-color: gray;
    border-radius: 50%;
}

.page-container{ /*left container i right container*/
    width: 100%;
    min-height: 100vh;
}

.left-container{ /*containes main element sidebar-content*/
    width: 230px;
    height: calc(100vh - 50px);
    float: left;
    background-color: white;
    overflow-y: scroll;
}

.sidebar-content{ /*are 3 same elements .sidebar-sections aka home section, library section and subscriptions section*/
    width: 186px;
    margin: 22px;
    margin-top: 13px;
    margin-bottom: -10px;

}

.sidebar-section{ /*regulates left side of page in 3 sections - 1st part home-watch later section, 2nd part is library section and 3rd part is subscriptions section*/
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bottom-section{
    border-bottom: none;
}

.sidebar-title{ /*regulates 2 individual elements - library and subscriptions*/
    width: 90px;
    line-height: 11px;
    font-size: 11px;
    color: #DC0C13;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.sidebar-title:hover{
    text-decoration: underline;
}

.item-container{ /*regulates 21 item of the left side page aka home, my channel, trending, subsriptions (in firs section of sidebar-content/sidebara-section, history, watch later, kafane, folk, strano, show more, lapsusbandofficial, david chen, etc)*/
    /*containes item-icon and item-text for each item*/
    width: 186px;
    height: 28px;
}

.item-container:hover{ /*regulates effect of 21 item of the left side page aka home, my channel, trending, subsriptions (in firs section of sidebar-content/sidebara-section, history, watch later, kafane, folk, strano, show more, lapsusbandofficial, david chen, etc)*/
    background-color: #222;
    color: white;
}

.item-icon{ /*containes image icon connected to the item-text*/
    background-image: url('images/youtube_icon.png'); /*this image containes all icons used on this page*/
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

.item-text{ /*define text of 21 individual item of the left side page*/
    width: 146px;
    line-height: 28px;
    float: left;
    font-size: 13px;
    font-weight: 500;
}

.item-text span{
    display: inline-block;
    float: right;
    font-size: 11px;
    color: gray;
    padding-right: 10px;
}

.home-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -419px -279px;
}

.selected .home-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -460px -96px;  
}

.selected, 
.selected:hover{ /*class related to the 1st item-container at left side of the page, that containes home icon and home text*/
    background-color: #cc181e;
}

.selected .item-text{ /*class related to the 1st item-container at left side of the page, that containes home icon and home text*/
    color: white;
}

.channel-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -652px -306px;
}

.item-container:hover .channel-icon{ /*regulates effect of my channel item of the left side page*/
    background-position: -722px 0;
}

.trending-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -674px 0;
}

.item-container:hover .trending-icon{ /*regulates effect of trending item of the left side page*/
    background-position: -531px -233px;
}

.subscriptions-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -674px -65px;
}

.item-container:hover .subscriptions-icon{ /*regulates effect of subscriptions item of the left side page*/
    background-position: -243px 0;
}

.history-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -154px -67px;
}

.item-container:hover .history-icon{ /*regulates effect of history item of the left side page*/
    background-position: -168px -279px;
}

.watchlater-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -507px -233px;
}

.item-container:hover .watchlater-icon{ /*regulates effect of watch later item of the left side page*/
    background-position: -628px -306px;
}

.menu-icon{ /*icon image taken from the bigger image that containes all icons in this page. bigger image is set as a default background of .item-icon class*/ /*cthis class defines exact position of this uniqe icon on the bigger image*/
    background-position: -288px -110px;
}

.browse-icon{
    background-position: -68px -204px;
}

.item-container:hover .browse-icon{ /*regulates effect of trending item of the left side page*/
    background-position: -568px -258px;
}

.manage-icon{
    background-position: -698px -151px;
}

.item-container:hover .manage-icon{ /*regulates effect of trending item of the left side page*/
    background-position: -568px -306px;
}

.item-container:hover .menu-icon { /*regulates effect of menu icon itemm of the left side page*/
    background-position: -731px -201px;
}

.invisible-icon{ /*is placeholder element connected to the 'show more' .item-text in the sidebar-section in the middle of left container*/
    background: transparent;    
}

.placeholder-img{ /*regulates images connected to the elements on the left side of the page in sidebar sections which starts with side title SUBSCRIPTIONS*/
    background: gray;
}

.item-container:hover .placeholder-img{ /*regulates effect of item at the left side page in sidebar sections which starts with side title SUBSCRIPTIONS*/
    background-color: white;
}

.right-container{ /*containes site menu container (home,trending,subscriptions) and main content container*/
/*containes every video shown on the page*/
    width: calc(100% - 230px); /*calc znaci da uzme 100% sirinu ekrana koliko god to bilo i oduzme fixni dio u ovom slucaju 240px koliko je sirina left sidebaar*/
    height: 100%;
    float: left;
    background-color: #EEEEEE;
}

.site-menu-container{ 
/*positioned as a first element at the right  container*/ /*containes site-menu-text-container which containes home, trending and subscriptions as site-menu-text-line*/
    width: 100%;
    height: 40px;
    background-color: white;
}

.site-menu-text-container{
    width: 238px;
    height: 40px;
    margin: 0 auto;
}

.site-menu-text-line{
    width: auto;
    line-height: 35px;
    color: gray;
    float: left;
    font-size: 13px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 2px
}

.site-menu-text-line:hover, 
.site-menu-text-line.active{
    border-bottom: 3px solid #cc181e;
}

.site-menu-text-line.active{
    font-weight: bold;
}

.main-content-container{
    width: 1260px;
    min-height: 2150px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
}

.basic-wrapper{
    min-height: 100px;
    padding : 15px;
    padding-left: 16px;
    /*background-color: lightgreen;*/
    border-top: 1px solid #eeeeee;
    position: relative;
}

.hover-arrow{
    display: none;
}

.basic-wrapper:hover .hover-arrow{
    width: 38px;
    height: 60px;
    position: absolute;
    top: 63px;
    right: -21px;
    color: #636363;
    font-size: 12px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    background: white;
    border: 2px solid rgba(230, 228, 228, 0.95);
    z-index: 1;
    display: block;
}

.general-container{
    /*background-color: green;*/
    /*padding: 5px;*/
}

.general-container-header{
    /*background-color: orange;*/
    min-height: 10px;
}

.header-title{
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 1px;
    float: left;
}

.header-title.empty-header{
    width: 100%;
}

.header-title .item-icon{
    margin-top: -1px;
    margin-left: 0px;
}

.header-title span{ /*defines secundary title of the box*/
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.header-title .item-icon{
    margin-top: -1px;
    margin-left: 0px;
}


.header-action-container{
    width: 923px;
    min-height: 20px;
    float: left;
}

.subscription-container{
    /*width: 90%;*/
}

.subscription-text{
    font-size: 12px;
    color: #767676;
    line-height: 18px;
    float: left;
    margin-left: 522px;}

.subscribe-button{
    float: left;
    width: 80px;
    height: 24px;
    line-height: 24px;
    position: relative;
    background-color: #cc181e;
    color: white;
    font-size: 12px;
    text-align: right;
    padding-right: 7px;
    border-radius: 2px;
    margin-left: 10px;
    margin-top: -4px;
}

.play-img{ 
    position: absolute;
    background-image: url("images/youtube_icon.png");
    background-repeat: no-repeat;
    background-position: -532px 0;
    top: 6px;
    right: 63px;
    height: 15px;
    width: 18px;
}

.counter-button{
    float: left;
    width: 39px;
    height: 22px;
    line-height: 25px;
    position: relative;
    color: #767676;
    font-size: 11.5px;
    padding-left: 6px;
    border-radius: 2px;
    margin-left: -1px;
    margin-top: -4px;
    border: 1px solid #CEC7C7;
}

.exit-button{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -1px;
    margin-left: 5px;
    background-image: url("images/youtube_icon.png");
    background-repeat: no-repeat;
    background-position: -24px -79px;
    opacity: 0.2;
}

.general-container-content{
    /*background-color: yellow;*/
    min-width: 196px;
    position: relative;
}

.unit-box{
    /* background-color: gray; */
    min-width: 196px;
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    vertical-align: top;
    position: relative;
}

.unit-box-image{
    width: 196px;
    height: 110px;    
}

.hover-img{
    width: 196px;
    height: 110px;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 1;
    color: transparent;
    text-align: center;
    line-height: 110px;
    font-size: 12.5px;
    z-index: 1;
}

.mixes .hover-img:hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.hover-img:hover .video-minutes{
    display: none;
}

.hover-img:hover .hover-minutes{
    width: 17px;
    height: 16px;
    position: relative;
    display: inline-block;
    top: 49px;
    right: -85px;
    background-color: #e8e4e4;
    background-repeat: no-repeat;
    padding-left: 4px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 1px;
    border-radius: 2px;
}

.curtain-img{
    width: 45%;
    height: 110px;
    background-color: rgba(0,0,0,0.8);
    top: 10px;
    position: absolute;
    right: 0;
}

.curtain-img-text{
    color: lightgray; 
    text-align: center;
    display: block;
}

.curtain-img-text-50{
    font-size: 17px;
    padding-top: 25px;
}

.curtain-img-text-video{
    font-size: 11px;
    position: relative;
}

.curtain-img-text-play{
    font-size: 7px;
    position: absolute;
    right: 43px;
    top: 66px;
}

.curtain-img-text-smallparenthesis{
    font-size: 14px;
    position: absolute;
    right: 38px;
    top: 62px;
}

.curtain-img-text-largeparenthesis{
    font-size: 21px;
    position: absolute;
    top: 58px;
    right: 31px;
}

.video-minutes{
    position: relative;
    display: inline-block;
    top: 46px;
    right: -81px;
    font-weight: 500;
    font-size: 11px;
    background-color: #000;
    color: #fff;
    line-height: 13px;
    opacity: .75;
    padding-left: 4px;
    padding-right: 4px;
}

.hover-minutes{
    display: none;
}

.hover-minutes div{
    width: 13px;
    height: 13px;
    background-image: url(images/youtube_icon.png);
    background-position: -698px -108px;
    opacity: 0.7;
}

.unit-box-text{
    width: 196px;
    position: relative;
}

.unit-box-title{
    /* background-color: lightgray; */
    font-size: 12px;
    color: #167ac6;
    font-weight: 600;
    line-height: 15px;
    padding-top: 1px;
    /* width: 176px; */
    /* letter-spacing: -0.5px; */
    padding-right: 13px;
}

.unit-box-title:hover{
    text-decoration: underline;
}

.unit-box-description{
    /* background-color: #eeeeee; */
    font-size: 10.5px;
    color: gray;
    line-height: 15px;
}

.hover-menu{
    display: none;
}

.unit-box:hover .hover-menu{
    background-position: -460px -138px;
    position: absolute;
    right: -18px;
    top: 5px;
    display: block;
}

.channel-name:hover{
    text-decoration: underline;
    color:  #167ac6;
}

.general-container-footer{
    /*background-color: orange;*/
    min-height: 10px;
}

.footer-button{
    width: 65px;
    color: #167ac6;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding-left: 1px;
    float: right;
}

.greater-than-sign{
    width: 10px;
    height: 10px;
    font-size: 12px;
    font-weight: bold;
    /* font-family: monospace; */
    color: gray;
    position: absolute;
    right: -8px;
    top: 28%;
}


.main-content-container-footer{
    height: 50px;
    padding-top: 22px;
}

.load-more-button{
    margin: 0 auto;
    width: 65px;
    height: 26px;
    background-color: #F9F9F9;
    line-height: 27px;
    color: #333;
    font-size: 10.5px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid #CEC7C7;
    border-radius: 2px;
}

.page-footer{ 
    width: 100%;
    /*height: 40px;*/
    background-color: white;
    display: inline-block;
    /*clear: both;  nema elemenata sa jedne ili druge strane*/
    margin-top: 50px;    
}

.page-footer-content-container{
    padding: 5px;
    padding-bottom: 30px;

}

.page-footer-buttons-container{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-left: 20px;
}

.logo-footer{
    float: left;
    width: 85px;
}

.logo-img-footer{
    margin-left: -15px;
}


.button{
    height: 26px;
    background-color: #F9F9F9;
    line-height: 27px;
    color: #333;
    font-size: 10.5px;
    display: inline-block;
    border: 1px solid #CEC7C7;
    border-radius: 2px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.button:hover {
    border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.10);
 }

 .button-bold{
    font-weight: bold;
 }

.language-button {
    padding-left: 45px;
}

.language-button:before {
    width: 33px;
    height: 20px;
    background-position: -121px -43px;
    background-image: url(images/youtube_icon.png);
    opacity: 0.5;
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
}    

.history-button {
    padding-left: 30px;
}

.history-button:before {
    width: 14px;
    height: 20px;
    background-position: -516px 0;
    background-image: url(images/youtube_icon.png);
    opacity: 0.5;
    display: block;
    content: '';
    position: absolute;
    top: 6px;
    left: 10px;
}    

.help-button {
    padding-left: 32px;
}

.help-button:before {
    width: 16px;
    height: 20px;
    background-position: 0 -92px;
    background-image: url(images/youtube_icon.png);
    opacity: 0.5;
    display: block;
    content: '';
    position: absolute;
    top: 6px;
    left: 10px;
}    

.page-footer-text-container{
    margin-top: 12px;
    display: inline-block;
}

.text-row{
    clear: both;
    margin-left: 20px;
    margin-top: 3px;

}

.text{
    /* width: 65px; */
    /* color: #167ac6; */
    font-size: 11px;
    line-height: 20px;
    padding-left: 1px;
    margin-right: 15px;
    display: inline-block;
}

.text-bold{
    font-size: 13px;
    font-weight: bold;
}
